{{#each products}}
  <div class="customCardContainer d-flex-column mx-2 my-3">
    <div class="card customCard" style="width: 18rem;">
      <img src="{{img}}" class="card-img-top" alt="{{title}}" />
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{price}}</p>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{stock}}</p>
        <p class="card-text">{{_id}}</p>
        <div class="btnsProducts">
          <a href="/api/products/{{_id}}" class="btn btn-primary">Ver Producto</a>
          <button class="btn btn-primary" onclick="api/products/${_id}">Purchase</button>
        </div>
      </div>
    </div>
  </div>
{{/each}}